<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Onboarding API Complete Test Suite" parallel="classes" thread-count="5" verbose="1">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="User Management Tests">
        <classes>
            <class name="tests.user.UserManagementTest"/>
            <class name="tests.user.JourneyStageChapterPageManagementTest"/>
        </classes>
    </test>

    <test name="Category Tests">
        <classes>
            <class name="tests.category.CategoryTest"/>
        </classes>
    </test>

    <test name="Language Tests">
        <classes>
            <class name="tests.language.LanguageTest"/>
        </classes>
    </test>

    <test name="Knowledge Item Tests">
        <classes>
            <class name="tests.knowledge.KnowledgeItemTest"/>
        </classes>
    </test>

    <test name="Journey Tests">
        <classes>
            <class name="tests.journey.JourneyCRUDTest"/>
            <class name="tests.journey.JourneyTagsCRUDTest"/>
            <class name="tests.journey.JourneyStageChapterPageRequiredFieldValidationTest"/>
        </classes>
    </test>

    <test name="Journey Settings Tests">
        <classes>
            <class name="tests.settings.JourneySettingsTest"/>
        </classes>
    </test>

    <test name="Stage Tests">
        <classes>
            <class name="tests.stages.StageCRUDTest"/>
        </classes>
    </test>

    <test name="Chapter Tests">
        <classes>
            <class name="tests.chapter.ChapterCRUDTest"/>
        </classes>
    </test>

    <test name="Page Tests">
        <classes>
            <class name="tests.pages.PageCRUDTest"/>
            <class name="tests.pages.PageTypeCreationTest"/>
        </classes>
    </test>

    <test name="Settings Tests">
        <classes>
            <class name="tests.settings.StageSettingsTest"/>
            <class name="tests.settings.ChapterSettingsTest"/>
        </classes>
    </test>

    <test name="Tag Category Tests">
        <classes>
            <class name="tests.tagcategory.TagCategoryCRUDTest"/>
        </classes>
    </test>

</suite>
